@import '~@jutro/theme/assets/sass/helpers';

.sampleDropdownLink {
  content: normal;
}

.helpComponent {
  margin: var(--GW-SPACING-2) 0;
  color: var(--GW-HELP-POPOVER-COLOR);

  @include typography-body;
}

.helpLink {
  color: var(--GW-HELP-POPOVER-LINK-COLOR);
}

.footerText {
  white-space: pre-wrap;
  padding: var(--GW-SPACING-4) 0;
  font-size: var(--GW-FONT-SIZE-SUBTEXT);
  line-height: var(--GW-LINE-HEIGHT-SUBTEXT);
}

.footerLink,
.footerLink:hover {
  color: var(--GW-FOOTER-COLOR);
}
