.welcome {
  height: 100%;
  max-width: 80rem;
  margin: auto;
  width: 100%;
}

.image {
  max-height: 40vh;
  margin-top: calc(var(--GW-SPACING-10) * 4);
  margin-bottom: calc(var(--GW-SPACING-10) * 4);
}

.card {
  height: 100%;
}
